[submodule "Bidet/lib/Arduino-IRremote"]
	path = Bidet/lib/Arduino-IRremote
	url = https://github.com/Arduino-IRremote/Arduino-IRremote
[submodule "lib/Arduino-IRremote"]
	path = lib/Arduino-IRremote
	url = https://github.com/Arduino-IRremote/Arduino-IRremote
